/*
                                                                                                                                                      
                                                  ,((((((((.                /(((/,                /((((((((((((((,         ,/((/,                     
             (((((((((     ((((((((((      ((((((((((((((((((((((*     (((((((((((((((((   (((((((((((((((((((((((((((((,  /(((((((((((((/            
          ((((((((((((   ((((((((((((((   ((((((((((((((((((((((((((   ((((((((((((((((((   (((((((((((((((((((((((((((((((  (((((((((((((((,         
        ((((((((((((((   (((((((((((((((   ((((((((((((((((((((((((((.  ((((((((((((((((((   (((((((((((((((((((((((((((((((  ((((((((((((((((        
      (((((((((((((((   (((((((((((((((((   ((((((((((((((((((((((((((  /((((((((((((((((((   ((((((((((((((((((((((((((((((  ((((((((((((((((        
     (((((((((((((((   ((((((((((((((((((   (((((((((((((((((((((((((   ((((((((((((((((((((   (((((((((((((((((((((((((((((  (((((((((((((((         
    (((((((((((((((   (((((((((((((((((((   (((((((((((((((((((((((    ((((((((((((((((((((((  ((((((((    .(((((((((((((    ((((((((((((((,          
   ((((((((((((((   *((((((((((((((((((((   ((((((((((((((((((((    *((((((((*,((((((((((((((   (((((((((             .(    ((((((((((((.             
   (((((((((((((( (((((((((((((((((((((((   (((       ,/,        /((((((((((((   (((((((((((((   ((((((((((((((((*  *(((((                            
   ((((((((((((((((((((((((((((((((((((((  /((((((((              (((((((((((,  ,((((((((((((((  (((((((((((((((((((  (((((((((((((((((               
  .(((((((((((((((((((((((((((((((((((((   (((((((((((((((((((((.   (((((((((((((((((((((((((((   (((((((((((((((((((  ((((((((((((((((((             
   ((((((((((((((((((((((((((((((((((((   ((((((((((((((((((((((((   (((((((((((((((((((((((((((  (((((((((((((((((((  ((((((((((((((((((((,          
   ((((((((((((((((((((( ((((((((((((((  .(((((((((((((((((((((((((  (((((((((yea(((((((((((((((   ((((((((((((((((   (((((((((((((((((((((((         
    (((((((((((((((((   ((((((((((((((   (((((((((((((((((((((((((   ((((((((((((((((((((((((((((  ((((            ((((((((((((((((((((((((((((       
      ((((((((((((*   (((((((((((((((   ((((((((((((((((((((((((    (((((((((((((forsure(((((((((  .(((((((((        (((((((((((((((((((((((((((,     
         ((((((     ((((((((((((((((   (((((       .(((((((,     .(((((((((((((((((((((((((((((((   ((((((((((         (((((((((((((((((((((((((((    
                 ((((((((((((((((((   (((((((((((/              .(((((((((((((,  ((((((((((((((((   ((((((((((*          ((((((((((((((((((((((((((   
            /(((((((((((((((((((((   ((((((((((((((((((((((((((    (((((((((((   ((((((((((((((((/  (((((((((((   ((((      (((((((((((((((((((((((/  
           (((((((((((((((((((((/   (((((((((((((((((((((((((((((   ((((((((((   (((((((((((((((((  ((((((((((((  (((((((((     ((((((((((((((((((((  
          (((((((((((((((((((((   /(((((((((((((((((((((((((((((((   (((((((((   ((((((((((((((((/  ((((((((((((  ((((((((((((     (((((((((((((((((, 
         (((((((((((((((((((((   (((((((((((((((((((((((((((((((((   (((((((((   ((((((((((((((((   ((((((((((((  ((((((((((((((((((((((((((((((((((, 
        ((((((((((((((((((((   (((((((((((((((((((((((((((((((((((   ((((((((*   ((((((((((((((((   (((((((((((  (((((((((((((((((((((((((((((((((((  
        ((((((((((((((((((      (((((((((((((((((((((((((((((((((   (((((((((    (((((((((((((((.  (((((((((((  .((((((((((((((((((((((((((((((((((   
        (((((((((((((((           ((((((((((((((((((((((((((((((   ((((((((      (((((((((((((((  (((((((((((      /((((((((((((((((((((((((((((((    
        ((((((((((((*                ((((((((((((((((((((((((/    (((((((        .((((((((((((   /((((((((             ((((((((((((((((((((((((,      
         ((((((((                          (((((((((((((          ((((            .(((((((((       ((((                    *(((((((((((((((/  
         													WELCOME TO KALVIN'S WEB3 SITE    */

body {
  font-family: "courier new", cursive;
}

a {
  text-decoration: none;
  color: #dd0c96;
  font-size: 20px
}

.current-page {
  color: #ff0085;
  text-decoration: underline;
  font-size: 20px
}

#spin {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto
   }

h1 {
  font-family: "courier new", cursive;
  font-size: 42pt;
  text-align: center;
  margin-top: 5vh;
}

h2 {
  font-family: "courier new", cursive;
  font-size: 20pt;
  text-align: center;
}

h3 {
  font-family: "courier new", cursive;
  font-size: 14pt;
  text-align: left;
}

ul {
  list-style-type: none;
  text-align: left;
}